@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,394;1,394&display=swap");
* {
  font-family: raleway, serif;
  text-decoration: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border-radius: 50px !important;
}

.header {
  z-index: 10;
}

.navbar {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
@media (max-width: 991.98px) {
  .navbar {
    background-color: rgba(33, 37, 41, 0.42);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    margin-top: 0 !important;
    padding: 10px;
  }
}

.logo_blanco {
  height: 40px;
  width: auto;
}

.custom-contact-btn {
  border-color: rgba(255, 255, 255, 0.55);
  color: rgba(255, 255, 255, 0.55);
  transition: all 0.3s ease-in-out;
}
.custom-contact-btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #1e1c1b;
  border-color: rgba(255, 255, 255, 0.75);
}

.footer-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/pattern_2.png") center bottom/cover no-repeat;
  opacity: 0.02;
  z-index: 0;
}

.card {
  overflow: hidden;
  transition: transform 0.3s ease-out;
}
.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.hero {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/inicio_header_1.webp");
  z-index: 0;
}

.heroNosotros, .heroVentas, .heroAlquiler, .heroContacto, .heroZen {
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.heroNosotros {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/nosotros/staff_bg 1.webp");
}

.heroVentas {
  height: 20vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ventas/ventas_bg.webp");
}

.heroAlquiler {
  height: 20vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/alquiler/alquiler_bg.webp");
}

.heroContacto {
  height: 20vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/contacto/contacto_bg1.png");
}

.heroZen {
  height: 20vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/inicio_header_1.webp");
}

.container {
  max-width: 980px;
}

.videoInstitucional {
  background-color: #1b6167;
  color: #ffffff;
  text-align: left;
  height: 200px;
  border-radius: 20px;
  max-width: 95vh;
  margin-bottom: 250px;
}
@media (min-width: 576px) {
  .videoInstitucional {
    margin-bottom: 400px;
  }
}
@media (min-width: 768px) {
  .videoInstitucional {
    margin-bottom: 400px;
  }
}
@media (min-width: 992px) {
  .videoInstitucional {
    margin-bottom: 90px;
  }
}
.videoInstitucional h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.videoInstitucional h4 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #ffffff;
}

.videoContainer {
  max-width: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-out;
}
.videoContainer:hover {
  transform: translateX(-10px);
  transition: transform 0.3s ease-in-out;
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.text-secondary {
  color: #ffffff !important;
}

.newsletterInicio, .newsletterContacto {
  background-color: #1b6167;
  background-size: 400px;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 300px;
}
.newsletterInicio input.form-control:focus, .newsletterContacto input.form-control:focus {
  color: #ffffff !important;
  box-shadow: none !important;
  outline: none !important;
}
.newsletterInicio input.form-control::-moz-placeholder, .newsletterContacto input.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.newsletterInicio input.form-control::placeholder, .newsletterContacto input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

.newsletterInicio {
  background-image: url("../assets/img/inicio_bg2.png");
}
@media (max-width: 768px) {
  .newsletterInicio {
    background-blend-mode: multiply;
  }
}

.newsletterContacto {
  background-image: url("../assets/img/contacto/contacto_bg2.png");
}
@media (max-width: 768px) {
  .newsletterContacto {
    background-blend-mode: multiply;
  }
}

.inmuebles {
  background-color: #F3F3F3;
}

.galeria img {
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}
.galeria img:hover {
  transform: scale(1.15);
}

.table td:nth-child(2), .table td:nth-child(4) {
  text-align: right;
}

.feature-icon {
  width: 80px;
  height: 80px;
  background: #ececec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.feature-icon img {
  width: 50px;
  height: 50px;
}

.ubicacion iframe {
  filter: grayscale(100%);
}

textarea {
  resize: none;
}/*# sourceMappingURL=styles.css.map */