//Colores
$color-principal: #1b6167;
$color-secundario: #212529;
$color-fondo-transparente: #00000000; 
$color-blanco: #ffffff;
$color-gris-claro: #F3F3F3;
$color-fondo-iconos: #ececec;

//Botones redondeados
$botones-redondeados: 50px; 

//Gradiente de fondo heros
$gradiente-hero-index: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$gradiente-hero-pages: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));